.input-label {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
    width: 100%;
    text-align: left;
    & > :nth-child(2) {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .input-label {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2px;
        align-items: start;
        width: 100%;
        & > :nth-child(1) {
            width: 25%        }
        & > :nth-child(2) {
            width: 75%;
        }
    }
    
}
