$themeName:'dark';
$ColorApp: (
  primaryColor:#34495D,
  secondColor : #EE7738,
  thirdColor :#2C3D4F,
  fourthColor :#F59D2A,

  backgroud:  #1A2632,
  gray: #666666,
  accent : #ff5900,

  backgroundOne : #2B2320,
  backgroundTwo :#322521,
  InteractComponentThree :#49291E,
  InteractComponentFour :#5F2712,
  InteractComponentFive :#6D2D16,
  borderSeparatorSix :#7B3922,
  borderSeparatorSeven :#91472D,
  borderSeparatorEight :#B65735,
  solidColorNine: #FF5900,
  solidColorTen: #ED5000,
  accessibleEleven : #FF9C74,
  accessibleTwelve : #FFD9CA,



  backgroundGrayOne : #252525,
  backgroundGrayTwo :#2B2B2B,
  InteractComponentGrayThree :#343434,
  InteractComponentGrayFour :#393939,
  InteractComponentGrayFive :#3F3F3F,
  borderSeparatorGraySix :#464646,
  borderSeparatorGraySeven :#525252,
  borderSeparatorGrayEight :#696969,
  solidColorGrayNine: #747474,
  solidColorGrayen: #7F7F7F,
  accessiblGrayEleven : #B6B6B6,
  accessibleGrayTwelve : #EEE,

);

