@import "./font/lato.scss";


@import "./themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  

    #root {
      &.#{$themeName} {
            color:map-get($ColorApp, 'fisrtFontColor');
            .admin-table {
                th, td {

                  border: 1px solid map-get($ColorApp, 'fisrtFontColor'); // Add borders between cells
                }
              
      
              }
        }
  }
}



.dashboard-page{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    font-size: 15px;
    gap: 30px;
    text-align: center;
   .title{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
   }
   .dash-part-cont{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

   }
   .admin-table {
    width: 90%;
    max-width: 500px;
    text-align: center;
    border-collapse: collapse; // Merge borders between cells
    font-size: 1.2em; // Increase text size slightly
    .action-td{
        display: flex;
        justify-content: center;
        vertical-align: center;
        gap:3px;
        .label{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        .icon-btn-cont{
          display: flex;
          align-items: center;  /* Centrer verticalement */
          justify-content: center;  /* Centrer horizontalement */
          
        }
        .icon-btn{
          position: relative;
          cursor: pointer;
          width: 2em;  /* Vous pouvez ajuster la taille ici */
        height: 1em;
      }
        
 
    }
    th, td {
      min-height: 50px;
      padding: 12px 20px; // Add spacing inside cells
      vertical-align: middle;
  text-align: center;
    }
  

  }


}
