@import "./font/Inter.scss";
@import "./font/Yeti.scss";
@import "./font/Orbitron.scss";
@import "./font/Audiowide.scss";
@import "./themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName');
    $ColorApp: map-get($theme, 'ColorApp');

    #root {
        &.#{$themeName} {

            .home-Page {


                .cont-title {
                    color: map-get($ColorApp, 'fontTitle');
                    text-shadow:
                        0 0 5px map-get($ColorApp, 'shadowTitle'),
                        0 0 10px map-get($ColorApp, 'shadowTitle'),
                        0 0 15px map-get($ColorApp, 'shadowTitle'),
                        0 0 20px map-get($ColorApp, 'shadowTitle'),
                        0 0 25px map-get($ColorApp, 'shadowTitle'),
                        0 0 30px map-get($ColorApp, 'shadowTitle'),
                        0 0 35px map-get($ColorApp, 'shadowTitle');
                }
                .description {
                    h3 {
                        color: map-get($ColorApp, 'fisrtFontColor');
                    }
                    h2 {
                        color: map-get($ColorApp, 'fisrtFontColor');
                    }
                    h4 {
                        color: map-get($ColorApp, 'fontTitle');
                    }

                    color: map-get($ColorApp, 'secondeFontColor');
                }

                .info-cont {
                    color: map-get($ColorApp, 'secondeFontColor');

                    .orange-barre {
                        background-color: map-get($ColorApp, 'fisrtFontColor');
                    }
                }

            }
        }
    }
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.home-Page {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 2vh;
    flex-grow: 1;
    height: 100%;
    font-size: 50px;
    margin-top:30px;
    .content-grid{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        gap: 2vh;
        flex-grow: 1;
        height: 100%;
        font-size: 50px;
      
    
    .cont-title {
        font-family: "Inter", sans-serif;
        font-weight: 400;

        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 10px;
       
        font-size: 1em;
        z-index: 0;

        .title {
            font-size: 1em;
        }
        .date {
            font-size: 0.7em;
        }
    }
    .teaser {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .info-cont {
        position: relative;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        font-size: 0.35em;
        line-height: 1.5;
        .orange-barre {
            width: 100%;
            height: 1px;
        }

    }


    .cont-timer {
        width: 100%;
        h2{
            font-size: 0.6em;
            margin-bottom: 30px;
            margin-top: 0px;
        }
        .timer {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
}
    .description {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        line-height:2;
        font-size: 0.30em;

       
        .start-text{
            width: 70%;
        
        }
        h3{
            font-size: 1.3em; 
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0px;
        }
        .desc-middle-large {
         
            width: 90%;
        }
        .desc-content {
            width: 90%;
         
        }
    }
}

@media (min-width: 375px) {
    .home-Page {
        .content-grid{
        .teaser {
            width: 90%;
        }
    }
    }


}

@media (min-width: 900px) {
    .home-Page {
        .content-grid{
        display: grid;
        grid-template-columns: 2fr 4fr;
        grid-template-rows: minmax(15vw, 15%) minmax(15vw, 40%) minmax(15vw, 35%);

        grid-template-areas:
            "cont-title teaser"
            "info-cont teaser"
            "cont-timer cont-timer"
;
        gap: 10px;
        padding: 20px;
        font-size: 55px;

        .teaser {
            justify-self: center;
            grid-row: span 2;
            width: 80%;
        }

        .cont-timer {
            align-self: self-start;
            grid-column: span 2;
            margin-top: 30px;
       
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-self: center;
            justify-self: center;
            width: 70%;
            max-width: 800px;
            h2{
                font-size: 0.6em;
                margin-bottom: 30px;
                margin-top: 0px;

            }
        }



        .info-cont {
            display: flex;
            flex-direction: column-reverse;
            align-self: self-start;
            justify-self: center;
            width: 98%;
            max-width: 600px;
            font-size: 0.3em;
            text-align: left;
        }

        .cont-title {
            align-self: self-end;
            font-size: 0.7em;

        }
    }
    .description {
        line-height:2;
        font-size: 0.30em;
        align-self: self-start;
        grid-column: span 2;
        width: 100%;
        
        .start-text{
            width: 70%;
        }
        ul {
    
        }
        .desc-middle-large {
          width: 70%;
        }
        .desc-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            .desc-left {
                width: 30%;
            }

            .desc-middle {
                width: 30%;
            }

            .desc-right {
                width: 30%;
            }
        }
    }
    }


}

@media (min-width: 1400px) {
    .home-Page {
        .content-grid{
    
        font-size: 65px;

        .cont-timer {

            h2{
                margin-bottom: 35px;
            }
        }

    }
    }


}

@media (min-width: 1900px) {
    .home-Page {
        .content-grid{
    
        font-size: 80px;

        .cont-timer {

            h2{
                margin-bottom: 40px;
            }
        }

    }

    }


}

@media (min-width: 2500px) {
    .home-Page {
        .content-grid{
    
        font-size: 90px;

        .cont-timer {
        
            h2{
                font-size: 0.5em;
            }
        }
    }
    .description {
        font-size: 0.5em;

    }
    }


}