@import "./themes/themes.scss";


main{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  
}


*::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
  
 
    
  }
  
  *::-webkit-scrollbar-track {
    background: #333333; /* color of the tracking area */
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color:  #F94C10; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #333333; /* creates padding around scroll thumb */
  }

  a{
    color: #F94C10;
  }