body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 4px;
  display: block;
  font-size: 20px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 5px;
  font-size: 10px;
  background-color: #e6a4b4;
}

.btn-modifier,
.btn-supprimer {
  margin: 0;
  margin-top: 3px;
  font-size: 20px;
  width: 100%;
}
