.test-Page{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    font-size: 30px;
    gap: 30px;
   
}