@import "./themes/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  

    #root {
      &.#{$themeName} {
        .timer-part{
        
            background-color:  map-get($ColorApp, 'backgroundTwo');
      
          }
        }
  }
}

.time-cont{
   
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap:40px;
    .timer-part{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        padding: 20px;
        .timer-numbers{
            display: flex;
        }
    }
}