
@import "../themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  

    #root {
      &.#{$themeName} {

        .game-Page{
         
           
            .cont-mode{
             
         
          
                .cont-item-mode{
     
                    border:  1px solid  map-get($ColorApp, 'fisrtFontColor');
                    background-color: map-get($ColorApp, 'backgroudColor');
                    .mode-card{
             
                        aspect-ratio: 1 / 1 ;
                        border:  1px solid  map-get($ColorApp, 'fisrtFontColor');
                   
                    }
                }
              
            }
        }
        
      
        }
  }
}


.game-Page{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;
    
    .cont-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        .cont-image-game-page{
            width: 90%;
            .img-game{
                
                width: 100%;
               
            }

        }
        
        .cont-description{
            width: 100%;
            word-wrap: break-word; /* Pour les navigateurs qui supportent word-wrap */
             overflow-wrap: break-word;
             display: flex;
             flex-direction: column;
             flex-wrap: wrap;
        }
    }
   
    .cont-mode{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        width: 90%;
        h2{
            width: 100%;
            text-align: center;
        }
        .btn-Primary{
            width: 50%;
            max-width: 200px;
        }
        .cont-item-mode{
            cursor: pointer;
            max-width: 800px;
            max-height: 400px;
            overflow-y:scroll;
            width: 90%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            gap:20px;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px;
            
            .mode-card{
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
     
                aspect-ratio: 1 / 1 ;
                border-radius: 10px;
            }
  
        }
      
    }
}

@media (min-width: 768px) {
    .game-Page{
        gap:30px;
        width: 100%;
        
        .cont-info{
            flex-direction: row;
           
            width: 90%;
            .cont-image-game-page{
                width: 50%;
                .img-game{
                    
                    width: 80%;
                }
            }
            .cont-description{
                width: 50%;
            }
        }
       
    }
    


}