$themeName:'dark';
$ColorApp: (
  

// Color

//#FF652F organe contraste
// #020202 backgroudColor contrast
  fisrtFontColor:#FF652F,
  fisrtFontColorDesabled:#832709,
  secondeFontColor:#FFFFFF,
  firtGradrienColor:#900C1C,
  secondeGradienColor: #C70C00,
  thirdGradienColor: #F94C10,
  backgroudColor:#020202,
  activeNavBurgerColor: #ff7345,
  backgroundtransparentTimerColor:hsla(15, 95%, 52%, 0.15),
  fontTitle:#ffaa28,
  shadowTitle:#F94C10,

//btnSecondary

 backgroundBtnSecondary:#333333,
 backgroundBtnSecondaryDesabled:#252525,

 overlayColor:#f94a101e,
 modalBackgroudColor:#111111ea,
 //error color 
 errorInputColor : #ffaa28,
// Gray
  fontGray:#333333,
  firtGradrienGray:#9D9D9D,
  secondeGradienGray: #D4D4D4,
  thirdGradienGray: #FFFFFF,

);

