$themeName:'dark';
$ColorApp: (
  

// Color
  fisrtFontColor:#F94C10,
  secondeFontColor:#FFFFFF,
  firtGradrienColor:#900C1C,
  secondeGradienColor: #C70C00,
  thirdGradienColor: #F94C10,
  backgroudColor:#1A1A1A,

// Gray
  fontGray:#333333,
  firtGradrienGray:#9D9D9D,
  secondeGradienGray: #D4D4D4,
  thirdGradienGray: #FFFFFF,

);

