$themeName:'dark';
$ColorApp: (
  

// Color
  fisrtFontColor:#F94C10,
  fisrtFontColorDesabled:#832709,
  secondeFontColor:#FFFFFF,
  firtGradrienColor:#900C1C,
  secondeGradienColor: #C70C00,
  thirdGradienColor: #F94C10,
  backgroudColor:#1A1A1A,
  activeNavBurgerColor: #ff7345,
  backgroundtransparentTimerColor:hsla(15, 95%, 52%, 0.15),
  fontTitle:#ffaa28,
  shadowTitle:#F94C10,

//btnSecondary

 backgroundBtnSecondary:#333333,
 backgroundBtnSecondaryDesabled:#252525,
 //error color 
 errorInputColor : #ffaa28,
// Gray
  fontGray:#333333,
  firtGradrienGray:#9D9D9D,
  secondeGradienGray: #D4D4D4,
  thirdGradienGray: #FFFFFF,

);

