@import "../../styles/themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  
    
 
    #root {
        &.#{$themeName} {

          .modal{

            .overlay {
              background: map-get($ColorApp, 'overlayColor');
            }
            
            .modal-content {
              border: 1px solid map-get($ColorApp, 'fisrtFontColor');
              background: map-get($ColorApp, 'modalBackgroudColor');
              .close-modal {
                color : map-get($ColorApp, 'fisrtFontColor');
                background-color: map-get($ColorApp, 'modalBackgroudColor');
                border:0px solid transparent;
              }
            }
          }
        }
    }
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 4px;
  display: block;
  font-size: 20px;
}

.modal{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  z-index: 999;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  .modal-content {
    
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
   
    left: 50%;
    top:50%;
    width: 90%;
    height: 90%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 1.4;
   
    overflow-y: scroll;
    .close-modal {
      position: absolute;
      top: 1px;
      right: 1px;
      padding: 5px;
      font-size: 20px;
      font-weight:bold;
    
    }
  }
}







