@import "../../styles/themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  
    
 
    #root {
        &.#{$themeName} {

            .personnal-Information{
          
                
                .img-profil{
                    border: 1px solid  map-get($ColorApp, 'fisrtFontColor');
                }
            }           
        }
    }
}
.personnal-Information{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    .img-profil{
        width: 70%;
        max-width: 400px;
        border-radius: 10px;
    }
    .content-text{
        width: 80%;
    }
}
@media (min-width: 600px) {
    .personnal-Information{

        .content-text{
            font-size: 20px;
        }
    }
    
  }

    
 
  