@import "../../styles/themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  
    
 
    #root {
        &.#{$themeName} {

            .nav-bar-two{
                color:map-get($ColorApp, 'fisrtFontColor');
                background-color: map-get($ColorApp, 'backgroudColor');
                
                &::before{
        
                    border-bottom: 1px solid map-get($ColorApp, 'secondeFontColor');
                }
            } 

        }
    }
}

.nav-bar-two{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    height: 60px;
    align-items: center;
    gap: 20px; 

    &::before {
        content: ''; /* Ajout de content */
        position: absolute;
       
        transform: scaleY(0.3);
        bottom: -2px ;
        width: 100%;
        height: 1px; 
    }
}