@font-face {
    font-family: 'Orbitron';
    src: url('../../assets/font/Orbitron/Orbitron-Black.ttf') format('truetype');
    src: local('');
    font-weight: 900;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Orbitron';
    src: url('../../assets/font/Orbitron/Orbitron-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  


  @font-face {
    font-family: 'Orbitron';
    src: url('../../assets/font/Orbitron/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  


  
