@import "../../../styles/themesTwo/themes.scss";

@each $theme in $allThemes {
    $themeName: map-get($theme, 'themeName'); 
    $ColorApp: map-get($theme, 'ColorApp');  
    
 
    #root {
        &.#{$themeName} {

            .input-primary {
                background-color :map-get($ColorApp, 'backgroundBtnSecondary');
                border: 1px solid  map-get($ColorApp, 'fisrtFontColor');
                color:  map-get($ColorApp, 'fisrtFontColor');
                &:focus{
                    outline:0;
                    border: 2px solid  map-get($ColorApp, 'fisrtFontColor');
                }
             
            }
        }
    }
}

.input-primary {
    border-radius: 10px;
    padding: 10px;

    
    &:hover{
        cursor: pointer !important;
    }
    &:disabled{
        background :linear-gradient(to right, #9D9D9D,#D4D4D4,#FFFFFF );
        color: #333333 !important;
        cursor: default !important;
    }
   
    
}
